.btn-primary {
  background-image: linear-gradient(225deg, #e05549 0%, #ff4c3c 100%);
  box-shadow: 20px 20px 60px 0 rgba(0, 0, 0, 0.4);
}

.btn-square {
  padding: 1rem;
  text-transform: uppercase;
  border-radius: 0;
  font-family: 'PierSans-Regular';
  font-size: 8px;
  font-weight: bold;
  letter-spacing: 1.75px;
  line-height: 14px;
  text-align: center;
}
