.text-center {
  text-align: center;
}

.color-primary {
  color: $primary !important;
}

.color-black {
  color: $text;
}

.color-black-2 {
  color: $black;
}

.color-white {
  color: $white;
}

.color-white--hover:hover {
  color: $white;
}
