html {
  color: $text;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
  font-size: 16px;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.heading-1 {
  color: $primary;
  font-size: 56px;
  font-weight: 500;
}

.heading-2 {
  font-size: 42px;
  font-weight: bold;
  line-height: 6rem;
}

.heading-3 {
  color: $black;
  font-size: 36px;
  font-weight: 500;
}

.heading-4 {
  color: $black;
  font-size: 28px;
  font-weight: 500;
}

.heading-5 {
  color: $black;
  font-size: 22px;
  font-weight: 500;
}

.heading-6 {
  color: $black;
  font-size: 18px;
  font-weight: 500;
}

.text {
  color: $text;
  font-size: 16px;
}
