.btn-primary{
  background: $primary;
  color: $secondary;
  border: none;
  font-weight: 600;
  border-radius: 0;
  padding: 10px 20px;

  &:hover {
    background: lighten($primary, 20%);
    color: $secondary;
  }
}