$input-color: #656a77;

.input-container {
  font-family: 'PierSans-Regular';
  display: block;
  margin-bottom: 4rem;

  label {
    color: $input-color;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1.2px;
    line-height: 21px;
    text-align: left;
    margin-bottom: 0;
  }

  input {
    font-weight: 400;
    display: block;
    border: none;
    border-bottom: 2px solid $input-color;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    transition: border-bottom-color 0.3s ease-in-out;
    padding: 0.325rem 0.325rem 0.325rem 0;
    width: 100%;

    &:hover,
    &:active,
    &:focus {
      border-bottom-color: #000;
    }
  }
}
