/* 
 * Navbar Nav
 *
 * Custom navbar navigation (doesn't require `.nav`, but does make use of `.nav-link`).
 */
  
.show {
  padding: 1.2em;
  transition-duration: 500ms;

  .menu-item{
    padding: 10px 0;  
    transition-duration: 500ms;   
  }
}
  
.navbar-nav {
  .menu-item > a {
      margin: 1.2rem;
      color: $secondary;
  }

  .menu-item > a:hover, .current-menu-item > a {
    border-bottom: 3px solid $primary;
    text-decoration: none;
  }
}

/* Dropdown */
.navbar-top {
  background: #eef0f3;
  border-bottom: 1px solid #dcdcdc;
  
  p {
    margin: 0;
  }

  .menu-item-has-children {
    position: relative;
    display: inline-block;
    
    .sub-menu {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 200px;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,.2);
      padding: 12px 16px;
      z-index: 1;
      right: -20%;
      list-style-type: none;

      li {
        padding: 5px;
      }
    }
  }
  
  .menu-item-has-children:hover .sub-menu {
    display: block;
  }
}